.shift-button {
  position: fixed;
  z-index: 1;
  outline: none;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #c5d0d8d2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.shift-button:hover {
  background-color: #a2b7c3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.up {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 40px;
}

.down {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 40px;
}

.left {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 80px;
}

.right {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 80px;
}
