.cell {
  position: relative;
  border: 1px solid #ccc;
  padding: 5px 10px;
  min-width: 40px;
  display: inline-block;
  border-radius: 5px;
  background-color: #fdffff;
  color: rgba(0, 0, 0, 0.727);
  width: auto;
  margin-right: 10px;
  cursor: grab;
}

.level0:disabled,
.level1:disabled,
.level2:disabled,
.level3:disabled {
  background-color: #fdffff;
  color: rgba(0, 0, 0, 0.727);
}

.button-wrapper {
  display: inline-flex;
  width: 100px;
  gap: 2px;
  height: auto;
}

.button {
  display: inline-block;
  width: 18px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.3);
}
